streamlit>=1.30
streamlit-autorefresh
streamlit-option-menu
plotly>=5.18
aggrid>=1.0.5
requests>=2.28
pandas>=2.0
numpy>=1.24
scikit-learn>=1.3
scikit-optimize>=0.9
tqdm
websocket-client
sqlalchemy
pytest
pytest-asyncio
python-dotenv
psutil
backoff
